<!-- this is the HOME page-->

<!-- express to include header in the page -->
<%- include partials/header.ejs %>
<!-- to include the main nav in the page-->
<%- include partials/main_nav.ejs %> 

    

<!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><p>Welcome to my portfolio.<br> This is the  <%= title %> page of my website<br>  </p></h1>

    </div>

    <h3>click <a href="http://localhost:3000/about">here</a> for mor information about me</h3>

  </main>
  <!-- to include the a static bottom in the page-->
  <%- include partials/bottom_nav.ejs %> 
  <!-- include the footer in the page-->
  <%- include partials/footer.ejs %> 
 










    


